 * {
            font-family: 'Raster Forge';
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            z-index: 1;
        }

        body {
            background-color: #1a1a1b;
            background-image: url("aesthetic-minecraft-landscape-desktop-wallpaper-preview.jpg");
            color: #ffffff;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .overlay
        {
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: -1;
        }
    .Navbarstrip {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.666);
        padding: 10px 20px;
        flex-wrap: wrap;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 10% ;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .hamburger {
        font-size: 2rem;
        display: none;
        cursor: pointer;
        margin-right: 10px;
    }

    .hamburger img {
        height: 25px;
        width: 25px;
    }

    .titleName {
        font-size: 2rem;
    }

    .Menu ul {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        padding-left: 100px;
        margin: 0;
    }

    .Menu li {
        font-size: 1.5rem;
        color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.477);
        padding: 5px 10px;
    }

    a {
        text-decoration: none;
    }

    .right-side {
        margin-left: auto;
    }

    .right-side button {
        background-color: rgb(53, 195, 62);
        border: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }

        .form {
            background-color: #323232db;
            padding: 50px 40px;
            box-shadow: #1a1a1b -5px 4px 5px;
            width: 100%;
            max-width: 400px;
            text-align: center;
        }
        .login {
            font-size: 2.5rem;
            margin-bottom: 30px;
            color: rgb(53, 195, 62);
        }
        .textb {
            font-size: 16px;
            width: 100%;
            padding: 12px 15px;
            margin: 10px 0;
            margin-top: 20px;
            background-color: #cdcccc;
            border: none;
            border-radius: 15px;
            color: #2e2e2e;
            box-shadow: inset 1px 1px 8px #aaa;
        }

        .cbox-label {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 20px;
            font-size: 14px;
            color: #ccc;
        }
        .cbox {
            margin-right: 10px;
            transform: scale(1.2);
        }
        #submit {
            width: 100%;
            height: 45px;
            background-color: rgb(53, 195, 62);
            color: white;
            font-size: 18px;
            border: none;
            border-radius: 30px;
            margin-top: 30px;
            cursor: pointer;
            transition: 0.3s ease;
        }
        #submit:hover {
            background-color: #6ab437;
        }
        .notuser {
            margin-top: 30px;
            font-size: 14px;
            color: #aaa;
        }
        .notuser a {
            color: rgb(53, 195, 62);
            text-decoration: none;
            margin-left: 5px;
        }
        .notuser a:hover {
            text-decoration: underline;
        }

         @media (max-width: 768px) {
        .Menu {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .right-side {
            margin-left: 0;
        }
        .form
        {
            width: auto;
            max-width: 350px;
        }
    }